<template>
    <div class="container">
        <div class="container-fluid">
        <div class="row">
          <div class="col-xl-12 mt-3">
            <div class="card card-primary card-outline">
              <div class="card-header">
                <h5 class="m-0">Dasboard</h5>
              </div>
              <div class="card-body">
                <h6 class="card-title">Bienvenido al sistema</h6>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>
<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
