<template>
    <div class="container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12 mt-3">
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h5 class="m-0">
                                Usuarios Administrador
                                <!-- <button type="button" class="btn bg-gradient-success btn-sm float-right"  @click="show_modal = 1">Nuevo Usuario</button> -->
                                <vs-button success gradient class="float-right" @click="showModal=!showModal;tipo_accion=1;limpiarFormulario()">Nuevo Usuario</vs-button>
                            </h5>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead class="thead-dark">                  
                                        <tr>
                                            <th style="width: 10px">#</th>
                                            <th>Nombre</th>
                                            <th>Correo</th>
                                            <th style="width: 200px; text-align: center;">Opciones</th>
                                        </tr>
                                    </thead>
                                    <paginate ref="paginator" name="listado_usuarios" :list="listado_usuarios" :per="10" tag="tbody">
                                        <tr v-for="(item) in paginated('listado_usuarios')" :key="item.id">
                                            <th v-if="typeof item == 'object'" class="text-center align-middle">{{ item.id }}</th>
                                            <td v-if="typeof item == 'object'" class="align-middle">{{ item.name +' '+ item.lastName }}</td>
                                            <td v-if="typeof item == 'object'" class="align-middle">{{ item.email }}</td>
                                            <td style="text-align: center;">
                                                <button type="button" data-toggle="modal" data-target="#modal-usuarios" @click="buscar(item.id)" class="btn bg-gradient-warning btn-xs">Editar</button>
                                                <button type="button" class="btn bg-gradient-danger btn-xs" @click="eliminar(item.id)">Eliminar</button>
                                            </td> 
                                        </tr>
                                    </paginate>
                                </table>
                                <div class="datatable-footer" v-if="listado_usuarios != ''" style="display: flex; justify-content: space-between;">
                                    <span v-if="$refs.paginator" style="font-size: 12px;">
                                        Mostrando
                                        {{ $refs.paginator.pageItemsCount.replace("of", "de") }}
                                        Resultados
                                    </span>
                                    <div class="dataTables_paginate paging_simple_numbers pagination-sm">
                                        <paginate-links
                                            for="listado_usuarios"
                                            :classes="{
                                                ul: 'pagination',
                                                li: 'page-item',
                                                a: 'page-link'
                                            }"
                                            :show-step-links="true"
                                            :async="true"
                                            :hide-single-page="true"
                                            style="cursor:pointer"
                                        >
                                        </paginate-links>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="modal fade" id="modal-usuarios" tabindex="-1" role="dialog" aria-labelledby="modal-usuarios" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" v-html="tipo_accion == 1 ? 'Registrar Usuario' : 'Editar Usuario'"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form role="form">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Nombre:</label>
                                    <input type="text" v-model="form.nombre" class="form-control" :class="{'is-invalid':errors.nombre}">
                                    <span v-if="errors.nombre" class="form-text text-danger">{{ errors.nombre[0] }}</span>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Apellido:</label>
                                    <input type="text" v-model="form.apellido" class="form-control" :class="{'is-invalid':errors.apellido}">
                                    <span v-if="errors.apellido" class="form-text text-danger">{{ errors.apellido[0] }}</span>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Teléfono:</label>
                                    <input type="text" v-model="form.telefono" class="form-control" :class="{'is-invalid':errors.telefono}">
                                    <span v-if="errors.telefono" class="form-text text-danger">{{ errors.telefono[0] }}</span>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Correo:</label>
                                    <input type="email" v-model="form.email" class="form-control" :class="{'is-invalid':errors.email}">
                                    <span v-if="errors.email" class="form-text text-danger">{{ errors.email[0] }}</span>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Clave</label>
                                    <input type="password" v-model="form.password" class="form-control" :class="{'is-invalid':errors.password}">
                                    <span v-if="errors.password" class="form-text text-danger">{{ errors.password[0] }}</span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal" @click="errors={}">Cerrar</button>
                        <button v-if="tipo_accion == 1" @click="guardar"  type="button" class="btn btn-success">Guardar</button>
                        <button v-else type="button" @click="editar" class="btn btn-warning">Editar</button>
                    </div>
                </div>
            </div>
        </div> -->

        <vs-dialog blur v-model="showModal">
            <template #header>
                <h4 v-if="tipo_accion==1" class="not-margin">Registro de <b>Usuarios</b></h4>
                <h4 v-else class="not-margin">Editar <b>Usuario</b></h4>
            </template>
            <div class="con-form">
                <form role="form" class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Nombre:</label>
                            <input type="text" v-model="form.nombre" class="form-control" :class="{'is-invalid':errors.nombre}">
                            <span v-if="errors.nombre" class="form-text text-danger">{{ errors.nombre[0] }}</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Apellido:</label>
                            <input type="text" v-model="form.apellido" class="form-control" :class="{'is-invalid':errors.apellido}">
                            <span v-if="errors.apellido" class="form-text text-danger">{{ errors.apellido[0] }}</span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Teléfono:</label>
                            <input type="text" v-model="form.telefono" class="form-control" :class="{'is-invalid':errors.telefono}">
                            <span v-if="errors.telefono" class="form-text text-danger">{{ errors.telefono[0] }}</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Correo:</label>
                            <input type="email" v-model="form.email" class="form-control" :class="{'is-invalid':errors.email}">
                            <span v-if="errors.email" class="form-text text-danger">{{ errors.email[0] }}</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Clave</label>
                            <input type="password" v-model="form.password" class="form-control" :class="{'is-invalid':errors.password}">
                            <span v-if="errors.password" class="form-text text-danger">{{ errors.password[0] }}</span>
                        </div>
                    </div>
                </form>
            </div>
            <template #footer>
                <div class="footer-dialog text-center">
                    <button v-if="tipo_accion == 1" @click="guardar"  type="button" class="btn btn-success">Guardar</button>
                    <button v-else type="button" @click="editar" class="btn btn-warning">Editar</button>
                </div>
            </template>
        </vs-dialog>
    </div>
</template>
<script>
    export default {
        data(){
            return{
                form:{
                    id       : "",
                    nombre   : "",
                    apellido : "",
                    email    : "",
                    telefono : "",
                    password : "",
                },
                listado_usuarios:[],
                tipo_accion:1,
                errors:{},
                showModal: false,
                paginate: ['listado_usuarios'],
            }   
        },
        mounted(){
            this.listado();
        },
        methods: {
            async listado(){
                const loading = this.$vs.loading();
                await axios.get('usuarios-administrador/listado').then(({data})=> {
                    loading.close();
                    this.listado_usuarios = data;
                }).catch(({response}) => {
                    loading.close()
                    if(response.status === 500){
                        Swal.fire({
                            title: 'Tenemos problemas!',
                            text: "Ocurrio un error inesperado, intentalo de nuevo.",
                            icon: 'error',
                            confirmButtonText: 'Ok'
                        });
                    }
                });
            },
            async buscar(user_id){
                const loading = this.$vs.loading();
                await axios.post('usuarios-administrador/buscar',{
                    "user_id" : user_id
                }).then(({data})=> {
                    loading.close();
                    this.tipo_accion   = 2;
                    this.form.id       = data.id;
                    this.form.nombre   = data.name;
                    this.form.apellido = data.lastName;
                    this.form.email    = data.email;
                    this.form.telefono = data.phone;
                    this.showModal = true;
                    // this.listado_usuarios = data;
                    // this.getListadoAdmin('1',this.buscar,this.criterio);
                }).catch(({response}) => {
                    loading.close()
                    if(response.status === 500){
                        Swal.fire({
                            title: 'Tenemos problemas!',
                            text: "Ocurrio un error inesperado, intentalo de nuevo.",
                            icon: 'error',
                            confirmButtonText: 'Ok'
                        });
                    }
                });
            },
            async guardar(){
                const loading = this.$vs.loading();
                await axios.post('usuarios-administrador/guardar',this.form).then(({data})=> {
                    loading.close()
                    Swal.fire({
                        title: 'Correcto!',
                        text: data.message,
                        icon: 'success',
                        confirmButtonText: 'Ok'
                    });
                    this.showModal = false;
                    this.listado();
                    this.limpiarFormulario();
                }).catch(({response}) => {
                    loading.close()
                    if (response.status === 422) {
                        this.errors = response.data.errors || {};
                        return;
                    }else if(response.status === 500){
                        Swal.fire({
                            title: 'Tenemos problemas!',
                            text: "Ocurrio un error inesperado, intentalo de nuevo.",
                            icon: 'error',
                            confirmButtonText: 'Ok'
                        });
                    }
                });
            },
            async editar(){
                const loading = this.$vs.loading();
                await axios.put('usuarios-administrador/editar',this.form).then(({data})=> {
                    loading.close()
                    Swal.fire({
                        title: 'Correcto!',
                        text: data.message,
                        icon: 'success',
                        confirmButtonText: 'Ok'
                    });
                    this.showModal = false;
                    this.listado();
                    this.limpiarFormulario();
                }).catch(({response}) => {
                    loading.close()
                    if (response.status === 422) {
                        this.errors = response.data.errors || {};
                        return;
                    }else if(response.status === 500){
                        Swal.fire({
                            title: 'Tenemos problemas!',
                            text: "Ocurrio un error inesperado, intentalo de nuevo.",
                            icon: 'error',
                            confirmButtonText: 'Ok'
                        });
                    }
                });
            },
            async eliminar(user_id){
                Swal.fire({
                    title: "¿Estas seguro de eliminar al usuario?",
                    icon: "question",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Si",
                    cancelButtonText: "Cancelar"
                }).then((result) => {
                    if (result.isConfirmed) {
                        axios.delete('usuarios-administrador/eliminar/'+user_id).then(({data})=> {
                            Swal.fire('Información',data.message,"success");
                            this.listado();
                        }).catch(error => {
                            loading.close()
                            if (response.status === 422) {
                                this.errors = response.data.errors || {};
                                return;
                            }else if(response.status === 500){
                                Swal.fire({
                                    title: 'Tenemos problemas!',
                                    text: "Ocurrio un error inesperado, intentalo de nuevo.",
                                    icon: 'error',
                                    confirmButtonText: 'Ok'
                                });
                            }
                        });
                    }
                });
            },
            cerrarModal(){
                $('#modal-usuarios').modal('hide');
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                // this.limpiarFormulario();
            },
            limpiarFormulario(){
                this.form.nombre = "";
                this.form.apellido = "";
                this.form.email = "";
                this.form.telefono = "";
                this.form.password = "";
                this.errors={};
            },
        }
    }
</script>
<style>
    .mostrar{
        display: block;
        /* opacity: 1 !important;
        background-color: #3c29297a !important; */
    }
</style>